main {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.hidden{
    display: none;
}

#mainLogo img{
    width: 70px;
    height: 70px;
    align-items: center;
}

.bgcolor{
    background-image: linear-gradient(-90deg, rgba(0,0,0,0), rgba(0,228,255,0));
    width: 750px;
    height: 450px;
}

#mainNav{
    margin-top: 30px;
}

.tagLine{
    margin-top: 150px;
    margin-left: 40px;
    float: left;
}

.mainImg{
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

#promoImg{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

#footerNav{
    display: inline;
}

