<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="css/main.css">
    
    <title>Netflix</title>
</head>
<body>
    <main>
        <header id="mainLogo">
            <h2 class="hidden"></h2>
        <img src="images/netflix.png" alt="Netflix">
        <div class="bgColor"></div>
    </header>
    <h3 class="tagLine">Watch Tv Shows & Movies <br> Anytime.</h3>
    <div class="mainImg"><img src="images/watch_movie.jpg" alt="movie"><p>In over 190 countries, Netflix members get instant access to great content. Netflix has an extensive global content library featuring award-winning Netflix originals, feature films, documentaries, TV shows, and more. Netflix content will vary by region, and may change over time.</p></div>
    <h3 class="promoText">Unlimited movies, TV shows, and more.</h3>
    <section id="promoImg">
        <img src="images/laptop_netflix.jpg" alt="Laptop_Netflix">
        <img src="images/netflix_led.jpg" alt="LED_Netflix">
        <img src="images/netflix.jpg" alt="Netflix">
    </section>
    <h4 class="copyRight">Copy right by Netflix @ 2019</h4>
    </main>

    <script src="js/main.js"></script>
</body>
</html>